/* Google font import link */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* NAV-BAR START */
.nav-bar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-name {
  color: rgb(13, 19, 33);
  margin-left: 130px;
  font-size: 40px;
}

.resume-button {
  background-color: white;
  padding: 15px 20px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 6px;
  margin-right: 130px;
  font-size: large;
  font-weight: 500;
}
/* NAV-BAR END */

/* BANNER SECTION START */
.banner-container {
  min-height: 620px;
  background-image: url("../images/Hero-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  max-width: 1000px;
  min-width: 1000px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.developer-img-on-banner {
  height: 210px;
  width: 210px;
}

.banner-content > h1 {
  color: rgb(13, 19, 33);
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
}

.banner-content > p {
  color: rgba(13, 19, 33, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.banner-content > a {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  padding: 20px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
/* BANNER SECTION END */

/* Why Web Development SECTION START */
.why-web-development-container {
  height: auto;
  max-width: 1000px;
  margin: 60px auto;
  padding: 80px 95px 80px 95px;
  border-radius: 15px;
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.why-web-development-content {
  color: rgb(13, 19, 33);
  width: 750px;
  height: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-web-development-content > h1 {
  font-size: 30px;
  font-weight: 700;
}

.why-web-development-content > p {
  font-size: 16px;
  font-weight: 350;
  line-height: 26px;
}

.web-development-reason-container {
  width: 850px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin: 30px 0px;
  border-radius: 15px;
}

.web-development-reason-container img {
  width: 240px;
  height: 240px;
}

.web-development-reason-container-bgc1 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.web-development-reason-container-bgc2 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.web-development-reason-content {
  width: 450px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-development-reason-content h1 {
  color: rgba(13, 19, 33, 0.7);
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}

.web-development-reason-content p {
  color: rgba(13, 19, 33, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.web-development-reason-content > a {
  width: 150px;
  height: 48px;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.7);
  color: rgb(13, 19, 33);
}
/* Why Web Development SECTION END */

/* My Inspiration SECTION START */
.my-inspiration-container {
  width: 1000px;
  height: auto;
  margin: 70px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.my-inspiration-content {
  width: 650px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.my-inspiration-content > h1 {
  color: rgb(13, 19, 33);
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
}

.my-inspiration-content > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.my-inspiration-video-container {
  width: 1000px;
  height: 550px;
  border-radius: 15px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  margin-top: 30px;
  padding: 35px;
}

.my-inspiration-video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* My Inspiration SECTION END */

/* My Current Target SECTION START */
.my-current-target-container {
  width: 1000px;
  height: auto;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.my-current-target-content {
  margin: 0 100px 40px;
  text-align: center;
}

.my-current-target-content > h1 {
  color: rgb(13, 19, 33);
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  margin: 0 0 20px;
}

.my-current-target-content > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.my-current-target-items-container {
  width: 100%;
  height: auto;
  display: flex;
}

.my-current-target-items {
  width: inherit;
  height: 350px;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border-radius: 16px;
}

.my-current-target-items img {
  width: 56px;
  height: 56px;
}

.my-current-target-items h1 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.my-current-target-items p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.my-current-target-items a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
}

.box-1 {
  background: rgba(255, 76, 30, 0.05);
}

.box-2 {
  background: rgba(0, 76, 232, 0.05);
  margin: 0 20px;
}

.box-3 {
  background: rgba(255, 223, 0, 0.05);
}
/* My Current Target SECTION END */

/* My Next Target SECTION START */
.my-next-target-container {
  width: 1000px;
  height: auto;
  margin: 90px auto;
}

.my-next-target-content {
  margin: 0 100px 50px;
  padding: 0 10px;
  text-align: center;
}

.my-next-target-content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 20px;
}

.my-next-target-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.my-next-target-items-container {
  width: 100%;
  height: 220px;
  display: flex;
  padding: 40px;
  margin-top: 30px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.my-next-target-items-container img {
  padding: 24px 24px 24px 0;
}

.my-next-target-items-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-next-target-items-content h1 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.my-next-target-items-content p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.my-next-target-items-content a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
}
/* My Next Target SECTION END */
